.main-header {
    background-color: 000ff;
    background: url(img/main_background.jpg) no-repeat ;
    width: 1    00;
}

.main-nav {
    color: a52a2a;
}

ul.main-nav li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
    background-color: 000ff;
    color: a52a2a;
   }

