
@font-face {
    font-family: Montserrat; 
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf); 
   }

   /*:not([class])*/ 
a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/    
    color: #533738;
}


body  {
    border: 2px dashed blue;
    background-color: #EFE6E4;
    margin-left: 360px;
    font-family: Montserrat, monospace;
    color: #533738;
    font-weight: 400;
    max-width: 1400px;

}
.main-header {
    border: 2px dashed red;
    margin-bottom: 40px;
    width: 100%;
    background-color:bisque;
    background: url(img/main_background.jpg) no-repeat ;
    background-size: 100%;
    width: 1400px;
    height: 715px;
    font-size: 16px;
    line-height: 20px;
}


.main-nav {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
        list-style: none; /*убираем маркеры списка*/
        margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
        padding-left: 0; /*убираем левый отступ, равный 40px*/
        margin-bottom: 80px;
}
.main-nav a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}

.main-heading {   
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    margin-left: 10%;
 }

 .main-header--descripion {
    margin-left: 10%;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;

 }

.order-link {
    background-color: #CC8B86;    
    padding: 20px 35px;
    text-decoration: none;
    margin-left: 10%;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.about-us {
    border: 1px dashed blue;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "about-us__heading about-us__heading"
                        "about-us__img about-us__text"
                        "advantages advantages";    
    justify-content: center;

}


.about-us__heading {
    margin: 0 0 40px 0;
    padding: 0px 0px;
    border: 1px dashed blue;
    grid-area: about-us__heading;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}

.about-us__img {
    border: 1px dashed blue;

    margin: 0;
    margin-bottom: 5%;
    margin-left: 25%;
    padding: 0 0;
    grid-area: about-us__img;
}

.about-us__text {
    border: 1px dashed blue;
    margin: 0;
    margin-left: 10%;
    grid-area: about-us__text;
    padding: 0px 0%;
    max-width: 63%;
font-size: 18px;
font-weight: 400;
line-height: 30px;

}

.advantages {
    border: 5px dashed yellow;
    background-color: #8D7370;
    color: white;
    padding: 80px 40px;
    margin: 0;
    display:flex;
    justify-content: space-around;
    align-content: space-around;
    list-style: none; /*убираем маркеры списка*/
    grid-area: advantages;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.advantage-digits {
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;   

}

.advantage {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
}
